PORT=
ADMIN_PASSOWRD=
LOG_FOLDER=
PROVISIONING_SCRIPTS_FOLDER=

DB_HOST=
DB_PORT=
DB_ROOT_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

AES_KEY_API=
AES_KEY_PASSWORD=
JWT_SECRET=

LDAP_URL=
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_SEARCH_BASE=

AD_ADMIN_GROUP=
AD_MANAGER_GROUP=
AD_REQUESTER_GROUP=